.header {
    background-color: #1e293b;
}

.containerPadre {
    margin-right: auto;
    margin-left: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    width: 100%;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    text-transform: uppercase;
    font-size: small;
    color: #fff;
    font-weight: 700;
}

.navb {
    display: flex;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
}